<div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="row card0">
      <div class="card1 col-lg-8 col-md-7">
        <div class="text-center">
          <img class="image mt-5" id="icon" src="https://i.imgur.com/M8VyA2h.png" />
        </div>
        <div class="row px-3 mt-3 mb-3">
          <h1 class="large-font mr-3" id="temp">26&#176;</h1>
          <div class="d-flex flex-column mr-3">
            <h2 class="mt-3 mb-0" id="name">Can Tho</h2>
            <small id="day">10:36 - Tuesday, 22 Oct '19</small>
          </div>
          <div class="d-flex flex-column text-center">
            <h3 class="fa fa-sun-o mt-4"></h3>
            <small id="status">Sunny</small>
          </div>
        </div>
      </div>
      <form action="http://localhost:3000/" method="POST" id="form" class="submit"></form>
        <div class="card2 col-lg-4 col-md-5">
          <div class="row px-3">
            <input type="text" name="location" placeholder="Another location" class="mb-5" id="location" onchange="myFunction()" />
            <div class="fa fa-search mb-5 mr-0 text-center"></div>
          </div>
        </form>
        <div class="mr-5">
          <p class="light-text suggestion">Birmingham</p>
          <p class="light-text suggestion">Manchester</p>
          <p class="light-text suggestion">New York</p>
          <p class="light-text suggestion">California</p>
          <p class="light-text suggestion">Ho-Chi-Minh</p>
          <p class="light-text suggestion">Paris</p>
          <p class="light-text suggestion">Can-Tho</p>

          <div class="line my-5"></div>

          <p>Weather Details</p>
          <div class="row px-3">
            <p class="light-text" >Cloudy</p>
            <p class="ml-auto" id="cloudy" >18%</p>
          </div>
           <div class="row px-3">
            <p class="light-text">Fahrenheit</p>
            <p class="ml-auto" id="tempf">77.5°F</p>
          </div>
           <div class="row px-3">
            <p class="light-text">Celsius</p>
            <p class="ml-auto" id="tempc">25.3°C</p>
          </div>
          <div class="row px-3">
            <p class="light-text">Humidity</p>
            <p class="ml-auto" id="hum">78%</p>
          </div>
          <div class="row px-3">
            <p class="light-text">Wind direction</p>
            <p class="ml-auto" id="win">SE</p>
          </div>
          <div class="row px-3">
            <p class="light-text">Current Epoch Time</p>
            <p class="ml-auto" id="rai">1668623543</p>
          </div>

          <div class="line mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>